﻿body {
    text-align: center;
    background-color: #D5DAD4;
    margin-left: 20%;
    margin-right: 20%;
}
tr{
    text-align: left;
}
div {
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 5%;
    text-align: center;
    background-color: #CCD3CC;
    border-radius: 8px;
}
a{
    margin: 5px;
}
h1 {
    color: #54577C;
}
.hidden {
    visibility: hidden;
}

.btn {
    background-color: #5A87A5;
    border-color: #5A87A5;
    color: white;
    width: 50%;
}
.btn:hover {
    background-color: #4A6F88;
    border-color: #4A6F88;
}

.field-validation-valid {
    display: none;
}
.field-validation-error {
    color:#f00;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;

}
.validation-summary-errors{
    font-weight: bold;
    color: #f00;
}
.validation-summary-valid {
    display: none;
}
