﻿@model Supervisor;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Style.css" />
    <meta name="viewport" content="width=device-width" />
    <title>AddSupervisorConfirmation</title>
</head>
<body>
    <div>
        @Model.Name has been added to the current supervisors as @Model.IsAvailable.ToString() <br />
        <a class="btn btn-primary" asp-action="AllSupervisors">View all Supervisors</a>
    </div>
</body>
</html>
