﻿@model List<Supervisor>;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Style.css" />
    <meta name="viewport" content="width=device-width" />
    <title>AllSupervisors</title>
</head>
<body>
    <div>
        <h1>Supervisor list</h1>
        <br />
        <a class="btn btn-primary" asp-action="AddRandomSupervisors">
            Add random Supervisors
        </a>
        <br />
        <table class="table table-striped">
            <thead>
                <tr>
                    @{
                        Supervisor sup = Model[0];
                    }
                    <th scope="col">@nameof(sup.Id)</th>
                    <th scope="col">@nameof(sup.Name)</th>
                    <th scope="col">@nameof(sup.IsAvailable)</th>
                    <th scope="col">@nameof(sup.Level)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Supervisor supervisor in Model)
                {
                    <tr>
                        <th scope="row">@supervisor.Id</th>
                        <td>@supervisor.Name</td>
                        <td>@supervisor.IsAvailable.ToString()</td>
                        <td>@supervisor.Level</td>
                    </tr>
                }


            </tbody>
        </table>



        @*@foreach (Supervisor supervisor in Model)
        {

            @: he is

            @:<br />
        }*@
        <a class="btn btn-primary" asp-action="Index">
            Back.
        </a>
        <br />
        <a class="btn btn-primary" asp-action="SupervisorInfo">
            Add more supervisors
        </a>
        <br />
        <a class="btn btn-primary" asp-action="SupervisorsWithS">
            See supervisors with S
        </a>
    </div>  
</body>
</html>
