﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Style.css" />
    <meta name="viewport" content="width=device-width" />
    <title>MyFirstView</title>
</head>
<body>
    <div>
        <h1>Main page</h1>
        @ViewBag.WelcomeMessage My view is working!
        <br />
        <a class="btn btn-primary" asp-action="SupervisorInfo">
            Click to add a supervisor
        </a>
        <br />
        <br />
        Current time is: @ViewBag.Time
    </div>
</body>
</html>
