﻿@*@Model List<Supervisor>;*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Style.css" />
    <meta name="viewport" content="width=device-width" />
    <title>SupervisorsWithS</title>
</head>
<body>
    <div>
        <h1>Supervisor list</h1>
        <br />
        <br />
        <table class="table table-striped">
            <thead>
                <tr>               
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">IsAvailable</th>
                    <th scope="col">Level</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Supervisor supervisor in Model)
                {
                    <tr>
                        <th scope="row">@supervisor.Id</th>
                        <td>@supervisor.Name</td>
                        <td>@supervisor.IsAvailable.ToString()</td>
                        <td>@supervisor.Level</td>
                    </tr>
                }


            </tbody>
        </table>
        <a class="btn btn-primary" asp-action="Index">
            Back.
        </a>
        <br />
        <a class="btn btn-primary" asp-action="SupervisorInfo">
            Add more supervisors
        </a>
    </div>
</body>
</html>
