﻿
@{
    Layout = null;
}
@model Supervisor;

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Style.css" />
    <meta name="viewport" content="width=device-width" />
    <title>CoachInfo</title>
</head>
<body>
    <div>
        <h1>Add supervisor</h1>
        <form asp-action="SupervisorInfo" method="post" class="form-group">
            <div asp-validation-summary="All"></div>

            <p>
                <label asp-for="Id" class="hidden">Subervisor Id:</label>
                <input asp-for="Id" placeholder="Supervisor Id:" />
            </p>
            <p>
                <label asp-for="Name" class="hidden">Supervisor Name:</label>
                <input asp-for="Name" placeholder="Supervisor Name:" />
            </p>
            <p>
                <label asp-for="IsAvailable">Supervisor availability:</label><br />
                <select asp-for="IsAvailable">
                    <option value="null">select</option>
                    <option value="true">Available</option>
                    <option value="false">Unavailable</option>
                </select>
            </p>
            <p>
                <label asp-for="Level" class="hidden">Level</label>
                <input asp-for="Level" placeholder="Level:" />
            </p>
            <button class="btn btn-primary" type="submit">Add</button>
            <br />
            <a class="btn btn-primary" asp-action="AddRandomSupervisors">
                Add random Supervisors
            </a>
        </form>
    </div>
</body>
</html>
